/moral-dilemma-reasoning/*
.venv-reasoning-compet/
.env
secrets.env
reason-instruct/__pycache__
reason-instruct/playground/*
*.jsonl
data/*
reason-instruct/data/*
reason-instruct/results/*
.DS_Store
.windsurfrules
